.navbar {
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.navbar .navbar-container {
  display: flex;
  justify-content: center;
  gap: 5.3em;
  padding-left: 232px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
.navbar-brand-wave {
  position: relative;
  top: 0.2em;
  
}
.navbar-brand-p {
  font-size: 13px;
  font-weight: 400;
  position: relative;
  right: 20em;
  top: 2em;
}
.navbar-search {
  position: relative;
  right: 12em;
}
.navbar-search-btn {
  position: absolute;
  top: 0.8em;
  left: 1em;
}
.navbar-search-close {
  position: absolute;
  top: 0.9em;
  right: 1em;
}
.navbar-input {
  width: 320px;
  height: 40px;
  padding-left: 2.8em;
  padding-bottom: 0.5em;
  border: 0.5px solid #000;
}
.navbar-date-calendar {
  width: 146px;
  height: 40px;
  border: 0.5px solid #A3AED0;
  padding: 4px 10px;
  position: relative;
  right: 2rem;
}
.navbar-date {
  font-size: 10px;
  font-weight: 500;
  position: relative;
  bottom: 15px;
}
.navbar-calendar {
  position: relative;
  top: 4px;
  right: 5px;
}

@media screen and (max-width: 768px) {
  .navbar .navbar-container {
    display: flex;
    justify-content: center;
    gap: 5em;
  
  }
  .navbar-brand {
    font-size: 16px;
    font-weight: 600;
    text-wrap: nowrap;
    margin-left: 8rem;
    position: relative;
    left: 2rem;
  }
  .navbar-brand-wave {
    position: relative;
    top: 0.5em;
    
  }
  .navbar-brand-p {
    font-size: 11px;
    font-weight: 400;
   text-wrap: nowrap;
   right: 12rem;
  
  }
  .navbar-search {
    right: 15rem;
    top: 0.3rem;
  }
  .navbar-input {
    width: 15rem;
  }
  .navbar-date-calendar{
    right: 17rem;
    width: 99px;
    height: 20px;
    top: 0.8rem;

  }
  .navbar-date {
    font-size: 8px;
    font-weight: 500;
    text-wrap: nowrap;
    position: relative;
    bottom: 20px;
    left: -1px;
  }
}

@media screen and (max-width: 1024px) {

  .navbar-brand {
    position: relative;
    left: 1em;
    font-size: 10px;
  }
  .navbar-brand-wave {
    position: relative;
    top: 0.5em;
    
  }
  .navbar-brand-p {
    font-size: 10px;
   right: 10.5rem;
  
  }
  .navbar-search {
    right: 14rem;
    top: 0.3rem;
  }
  .navbar-input {
    width: 12.5rem;
  }
  .navbar-date-calendar{
    right: 16.6rem;
    width: 99px;
    height: 20px;
    top: 0.8rem;

  }
  .navbar-date {
    font-size: 8px;
    font-weight: 500;
    text-wrap: nowrap;
    position: relative;
    bottom: 20px;
    left: -1px;
  }
}
