.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 17%;
  max-width: 17%;
  height: 100%;
  overflow: hidden;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-left: 25px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

.sidebar-logo {
  margin-left: 20px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  text-decoration: none;
  padding: 10px 10px 10px 0;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

/* Icon image inside link */
.sidebar-icon {
  width: 20px;
  height: 20px;
}

/* When active */
.sidebar-link.active {
  color: #008000;
  font-weight: bold;
}

/* Small bar on right side for active link */
.sidebar-link.active::after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  bottom: 8px;
  width: 4px;
  background-color: #008000;
  border-radius: 4px;
}

/* Profile section */
.sidebar-profile {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-profile-dp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sidebar-profile-user {
  font-weight: 600;
  font-size: 12px;
}

.sidebar-profile-logout {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.sidebar-profile-2 {
  position: absolute;
  bottom: 5px;
  left: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar-profile-2-link {
  width: 12px;
  height: 12px;
}

.sidebar-profile-2-email {
  font-weight: 500;
  font-size: 9px;
}

@media screen and (max-width: 1024px) {
  .sidebar-container {
    font-size: 9px;
    text-wrap: nowrap;
  }
  .sidebar-logo-img {
    width: 5rem;
    position: relative;
    right: 1.5rem;
  }
  .sidebar-links {
    position: relative;
    right: 1rem;
  }
  .sidebar-link.active::after {
    margin-right: -1rem;
  }
  .sidebar-profile {
    position: absolute;
    right: 0rem;
  }
  .sidebar-profile-dp {
    width: 1rem;
    height: 1rem;
  }
  .sidebar-profile-user {
    font-size: 7px;
  }
  .sidebar-profile-logout {
    width: 0.8rem;
    height: 0.8rem;
    position: relative;
    right: 0.3rem;
  }
  .sidebar-profile-2 {
    position: absolute;
    left: 1rem;
  }
  .sidebar-profile-2-email {
    font-size: 7px;
  }
}
