.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 17%;
  max-width: 17%;
  height: 100%;
  overflow: hidden;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  float: left;
  margin-left: 25px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}
.sidebar-logo {
  position: relative;
  left: 2em;
}
.sidebar-dashboard {
  position: relative;
  left: 10px;
}
.sidebar-dashboard-img {
  position: relative;
  top: 4px;
  right: 10px;
}
.sidebar-upload-videos {
  position: relative;
  left: 10px;
}
.sidebar-upload-img {
  position: relative;
  top: 4px;
  right: 10px;
}
.sidebar-manage-videos {
  position: relative;
  left: 10px;
}
.sidebar-manage-img {
  position: relative;
  top: 4px;
  right: 10px;
}
.sidebar-manage-users {
  position: relative;
  left: 10px;
}
.sidebar-user-img {
  position: relative;
  top: 4px;
  right: 10px;
}
.sidebar-notifications {
  position: relative;
  left: 10px;
}
.sidebar-notifications-img {
  position: relative;
  top: 4px;
  right: 10px;
}
.sidebar-settings {
  position: relative;
  left: 10px;
}
.sidebar-settings-img {
  position: relative;
  top: 4px;
  right: 10px;
}

.sidebar-profile {
  position: relative;
  top: 9.6em;
}
.sidebar-profile-2 {
  position: relative;
  top: 6.5em;
}
.sidebar-profile-user {
  font-weight: 600;
  font-size: 12px;
  position: relative;
  bottom: 20px;
  left: 10px;
}
.sidebar-profile-logout {
  position: relative;
  left: 30px;
  bottom: 8px;
}
.sidebar-profile-2 {
  display: flex;
  position: relative;
  left: 52px;
  bottom: 52px;
}
.sidebar-profile-2-link {
  width: 11.92px;
  height: 11.92px;
  position: relative;
  top: 10px;
  right: 5px;
}
.sidebar-profile-2-email {
  font-weight: 500;
  font-size: 9px;
}