body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
}

.mobile-not-supported {
  display: none;
}

.App {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  background-color: #f4f7fe;
}
 a {
  text-decoration: none;
  color: #000;
 }
 a:active {
  color: #00B14F;
 }

 @media only screen and (max-width: 768px) {
  .App {
    display: none;
  }
  .mobile-not-supported {
    display: block;
    text-align: center;
    font-size: 4rem;
 }
 }